@media (min-width: 48em)
{
    .container {
        max-width: 48rem;
    }
}

html{
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Hind', sans-serif;
}

header {
  padding: 1.8rem 0 1.6rem 0;
  border-bottom: .05rem solid #fff;
  background-color: #2677c8;
}

header p{
    line-height: 1rem;
}

.content{
    padding: 3rem 1rem 8rem 1rem;
}

.content p{
    margin-bottom: 1.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4;
  border-top: .05rem solid #fff;
  padding: 1.5rem 0 .5rem 0;
  color: #fff;
  line-height: 2rem;
}

.no-margin{
    margin: 0;
}

p.big-top-margin{
    margin-top: 2rem;
}

p.small-bottom-margin{
    margin-bottom: .5rem;
}

/*rewrite with custom bootstrap*/
.text-muted{
    color: #fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #F18F01;
}

.nav-pills>li>a{
    background-color: #2677c8;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover{
    background-color: #fff;
    color: #DA771B;
}

header a{
    color: #fff;
}

header a:hover{
    color: #DA771B;
}

header h3{
    color: #fff;
    font-size: 1.6rem;
}

header p{
    font-size: 1rem;
    color: #fff;
}

footer i{
    color: #2677c8;
    font-size: 1.5rem;
}

footer p{
    color: #2677c8;   
    font-size: .9rem;
    line-height: 1.1rem;
}

body{
    font-size: 16px;
    line-height: 1.5rem;
    color: rgba(51, 51, 50, 1);
}